@font-face {
	font-family: 'Futura PT light';
	src: url("/fonts/Futura-PT-light.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Regular';
	src: url("/fonts/Sporting_Grotesque-Regular_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Bold';
	src: url("/fonts/Sporting_Grotesque-Bold_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Courier_New';
	src: url("/fonts/courier_new.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Garamond';
	src: url("./../fonts/CormorantGaramond-Regular.ttf") format('ttf');
	font-weight: normal;
    font-style: normal;
}

body {
	background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
	font-family: 'Sporting_Grotesque_Bold';
	color: white;
}

a {
    color: white;
    text-decoration: none;

}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	margin-left: auto;
    margin-right: auto;
	align-content: center;
	align-items: center;

}

header {
	padding: 20px 20px;
}

.name {
	display: flex;
	text-align: center;
	justify-content: center;

}

.nav {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.navbutton{
    font-family: 'Sporting_Grotesque_Bold', serif;
	background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    border-style: solid;
    border-width: 2px;
	border-radius: 10px;
	box-shadow: 15px 15px rgb(229, 255, 0);
	padding: 7px;
	margin: 5px;
	align-self: center;
}
.navbutton a {
	color: rgb(255, 255, 255);
}

h1 {
	font-size: 400%;
}

h2{
	font-size: 200%;
	font-family: 'Inconsolata', monospace;
	background-color: black;
	color: white;
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    padding: 5px;
	margin-top: 125px;
}

h3 {
	font-size: 100%;
	margin-bottom: 20px;
}

h4 {
	font-size: 200%;
	font-family: 'Inconsolata', monospace;
	padding-top: 40px;
	padding-bottom: 40px;
}

p {
	font-size: 120%;
	font-family: 'Inconsolata', monospace;
	padding-bottom:10px;
    padding-top: 10px;
}

.content {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}


.img{
    width: 90%;
}

img{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
	padding-top: 20px;
}

.navbutton:hover {
    background-color: rgb(255, 0, 0);
    transition-duration: 0.3s;
}

.button:hover {
	background-color: rgb(255, 0, 0);
    transition-duration: 0.3s;
}