@font-face {
	font-family: 'Futura PT light';
	src: url("/fonts/Futura-PT-light.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Regular';
	src: url("/fonts/Sporting_Grotesque-Regular_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Bold';
	src: url("/fonts/Sporting_Grotesque-Bold_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Courier_New';
	src: url("/fonts/courier_new.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MetamorBit_TrialVF';
	src: url("/fonts/MetamorBit_TrialVF.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}

body {
	background-color: rgb(0, 0, 0);
	font-family: 'Sporting_Grotesque_Bold';
	color: white;
}

.container {
    max-width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.cards a {
	color: white;
}


header {
	padding-top: 20px;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.name {
	display: flex;
	text-align: center;
	justify-content: center;

}

.nav {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.navbutton{
    font-family: 'Sporting_Grotesque_Bold';
	font-size: 80%;
	background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: inline-block;
    border-style: solid;
    border-width: 0px;
	padding: 5px;
	padding-right: 200px;
	padding-top: 10px;
	align-self: center;
}
.navbutton a {
	color: rgb(255, 255, 255);
}


h1 {
	font-size: 235%;
	color: black;
}

h2{
	font-size: 200%;
	font-family: 'Courier New';
	background-color: black;
	color: white;
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    padding: 5px;
	margin-top: 50px;
}
h3{
	font-size: 75%;
	font-family: 'Courier New';
	margin-bottom: 10px;
	margin-top: 10px;
}

.header h3 {
	color: rgb(0, 0, 0);

}

h4 {
	font-size: 200%;
	font-family: 'Courier New';
	padding-top: 40px;
	padding-bottom: 20px;
}

p {
	font-size: 120%;
	font-family: 'Courier New';
	padding-bottom:10px;
    padding-top: 10px;
}
p2 {
	font-size: 120%;
	font-family: 'Courier New';
	text-align: left;
	padding-left: 3%;
	padding-bottom:10px;
    padding-top: 10px;
}

p3 {
	font-size: 120%;
	font-family: 'MetamorBit_TrialVF', serif;
	font-weight: 300;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
	border-style: solid;
	border-color: cyan;
	border-width: 1px;
	margin: 2px;
	padding: 5px;
}

h5 {
	font-size: 120%;
	font-family: 'Courier New';
	font-weight: 600;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
}

h6 {
	font-size: 100%;
	font-family: 'MetamorBit_TrialVF', serif;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: left;
}

h7 {
	font-size: 80%;
	font-family: 'MetamorBit_TrialVF', serif;
	font-weight: 600;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
	color: rgb(214, 255, 58);
}

.content {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.img{
    width: 90%;
}

img{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
	padding-top: 20px;
}

.navbutton:hover {
    background-color: rgb(70, 70, 70);
    transition-duration: 0.3s;
}

.button:hover {
	background-color: rgb(255, 0, 0);
    transition-duration: 0.3s;
}