@font-face {
	font-family: 'Futura PT light';
	src: url("/fonts/Futura-PT-light.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Regular';
	src: url("/fonts/Sporting_Grotesque-Regular_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Sporting_Grotesque_Bold';
	src: url("/fonts/Sporting_Grotesque-Bold_web.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Courier_New';
	src: url("/fonts/courier_new.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MetamorBit_TrialVF';
	src: url("/fonts/MetamorBit_TrialVF.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgb(0, 0, 0);
	font-family: 'Sporting_Grotesque_Bold';
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	background-image: linear-gradient(rgb(0, 0, 0),rgb(255, 255, 255));
}

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	width: 100%;

}
nav {
	display: flex;
	width: 100%;
}

.navbutton{
	text-align:center;
	width: 100%;
    font-family: 'Sporting_Grotesque_Bold';
	font-size: 80%;
	background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px;
	padding: 5px;
	padding-top: 10px;
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

.art {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	min-width: 400px;
}
.design {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	min-width: 400px;
}
.collective {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	min-width: 400px;
}


.card1 {
	display: flex;
	align-items: center;
	background-color: rgb(48, 48, 48);
	width: 100%;
	height: 80px;
}
.card2 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/rayarray2.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card3 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/rayarray1.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card4 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/sessel1.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card5 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/kleidung3.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card6 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/alloys2.PNG);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card7 {
	background-position:center;
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(projects/img/Ballerrahmen2.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card8 {
	background-position:center;
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(projects/img/Ballerrahmen.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card9 {
	background-position:center;
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(projects/img/disco.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card10 {
	background-position:center;
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(projects/img/monitore.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card11 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/irgendwo.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card12 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/Fusion.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card13 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/Buch.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card14 {
	background-position:center;
	background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0)), url(projects/img/radioangrezi.PNG);
	background-size: cover;
	width: 100%;
	height: 300px;
}
.card15 {
	background-position:center;
	background-image: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0));
	background-size: cover;
	width: 100%;
	height: 300px;
}

h1 {
	font-size: 235%;
	color: rgb(0, 0, 0);
}
.projects h1 {
	font-size: 120%;
	color: rgb(222, 255, 50);
}
h2{
	font-size: 110%;
	font-family: 'Sporting_Grotesque_Regular';
	font-style: italic;
	background-color: black;
	color: rgb(229, 229, 229);
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    padding: 5px;
	margin-top: 50px;
}
h3{
	font-size: 112%;
	font-family: 'Inconsolata';
	margin-bottom: 10px;
	margin-top: 10px;
}
.header h3 {
	color: rgb(0, 0, 0);
	

}
h4 {
	font-size: 200%;
	font-family: 'Inconsolata';
	font-weight: 400;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: left;
}
h5 {
	font-size: 120%;
	font-family: 'Inconsolata';
	font-weight: 600;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
}
h6 {
	font-size: 100%;
	font-family: 'MetamorBit_TrialVF', serif;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: left;
}
h7 {
	font-size: 80%;
	font-family: 'MetamorBit_TrialVF', serif;
	font-weight: 600;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
	color: rgb(214, 255, 58);
}

p {
	font-size: 100%;
	font-family: 'Inconsolata';
	font-weight: 100;
	padding-bottom:10px;
    padding-top: 10px;
}
p3 {
	font-size: 120%;
	font-family: 'MetamorBit_TrialVF', serif;
	font-weight: 300;
	width: 90%;
	padding-bottom:10px;
    padding-top: 10px;
}
.text p {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.projects p {
	background-color: black;
	padding: 5px
}

a {
    text-decoration: none;
	color: rgb(255, 255, 255);
}
.text a{
	color: rgb(255, 0, 0);
}
.navbutton a {
	color: rgb(0, 0, 0);
}

.img{
    width: 100%;
}

img{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
	padding-top: 20px;
}

.navbutton:hover {
    background-color: rgb(168, 168, 168);
    transition-duration: 0.3s;
}

.button:hover {
	background-color: rgb(171, 171, 171);
    transition-duration: 0.3s;
}